@page
@model Runes_Bio.Pages.AdminPanelModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/AdminPanel.css" />
    <script src="/js/AdminPanel.js"></script>
</head>
<div>
    <input type="hidden" id="normalPrice" value="@Model.normalPrice" />
    <input type="hidden" id="luxuryPrice" value="@Model.luxuryPrice" />
    <div class="box">
        <button type="submit" onclick ="FlyInBox(1)">shit</button>
    </div>
    <div class="box" style="left: 69.5%;">
        <button type="submit" onclick="FlyInBox(2)">Button 2</button>
    </div>
    <div class="box" style="top: 60%;">
        <button type="submit" onclick="FlyInBox(3)">Button Go crazy like that ON GOD</button>
    </div>
    <div class="box" style="left: 69.5%; top: 60%;">
        <br />
        <p>
            Denne knap er til at registrere en ny medarbejder.
        </p>
        <a href="Register" class="register">Registre en ny</a>

    </div>
    <div id="FlyInBox" class="popUpBox">
        <button type="button" class="closePopBox" onclick="ClosePopUp()">X</button>
        <br />
        <form method="post" id="allForm">
            @Html.AntiForgeryToken()
            <ul name="movieSelect" id="movieSelect" class="movieSelect">
                @foreach(string option in Model.GetMovie())
                {
                    <li><input type="checkbox" id="@option"><label for="@option">@option</label></li>
                }
            </ul>
            <button asp-page-handler="TicketPrice" class="confirmButton" type="submit" id="ConfirmButton">Bekræft</button>
            <button asp-page-handler="AddMovie" class="confirmButton" type="submit" style="visibility: hidden;" id="addButton">Tilføj</button>
        </form>
    </div>
</div>