@page
@model Runes_Bio.Pages.TicketPageModel
@{
}
<html>
<head>
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" href="/css/TicketPage.css" />
	<script src="~/js/Ticket.js"></script>
</head>
<body>
	<div class="nav">
		<a class="active" href="Index">Hjem</a>
		<a href="About">Om Os</a>
		<a href="Movie">Film</a>
		<div class="login">
			<a id="login" href="Login">Login</a>
		</div>
		<div class="login">
			<a id="register" href="Register">Register</a>
		</div>
	</div>
	<div class="screen">
		<img src="/Pictures/screen.png" />
	</div>
	<div>
		@{
			for (int i = 0; i < 6; i++)
			{
				Model.top += 40;
				Model.left = 500;
				Model._numPosition = 0;
				for (int x = 0; x < 10; x++)
				{
					Model.left += 40;
					Model._numPosition += 1;
					<button type="submit" onclick="Clicked('@Model._aPosition[i]', @Model._numPosition)" class="Seat" id="@($"{Model._aPosition[i]}{Model._numPosition}")" style="top: @Model.top; left: @Model.left;"></button>
				}
			}
		}
		<div class="TermsBox">
			<a style="top: 70%;" href="/Terms & Conditions.pdf" download="Terms_Condition_Runes_Bio">Terms & Conditions</a>
			<br />
			<input style="top: 75%;" type="checkbox" required />
			<p style="top: 75%; left: 51%;">
				Du er enig i Terms & Conditions
			</p>
		</div>
	</div>
</body>
</html>