@page
@model Runes_Bio.Pages.TicketPageModel
@{
	Layout = "_Layout";
}
<html>
<head>
	<link rel="stylesheet" href="/css/site.css" />
	<link rel="stylesheet" href="/css/TicketPage.css" />
	<script src="~/js/Ticket.js"></script>
</head>
<body>
	<div class="screen">
		<img src="/Pictures/screen.png" />
	</div>
	<div>
		@{
			for (int i = 0; i < 6; i++)
			{
				Model.top += 40;
				Model.left = 150;
				Model._numPosition = 0;
				for (int x = 0; x < 10; x++)
				{
					Model.left += 40;
					Model._numPosition += 1;
					<button type="submit" onclick="Clicked('@Model._aPosition[i]', @Model._numPosition)" class="Seat" id="@($"{Model._aPosition[i]}{Model._numPosition}")" style="top: @Model.top; left: @Model.left;"></button>
				}
			}
		}
		<div class="TermsBox">
			<p style="top: 70%; align-content: center;" href="/Terms & Conditions.pdf" download="Terms_Condition_Runes_Bio">Terms & Conditions</p>
			<br />
			<input style="top: 75%; position: fixed; align-content: center;" type="checkbox" required />
			<p>
				Du er enig i Terms & Conditions
			</p>
			<button style="top:80%; position: fixed; align-content: center;" onclick="Bought()" class="button" type="submit">Køb</button>
		</div>
	</div>
</body>
</html>