@page
@model Runes_Bio.Pages.TicketPageModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/TicketPage.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/Ticket.js"></script>
</head>
<div class="screen">
    <img src="/Pictures/screen.png" />
</div>
<div>
    @{
        for (int i = 0; i < 6; i++)
        {
            Model.top += 6;
            Model.left = 14;
            Model._numPosition = 0;
            for (int x = 0; x < 10; x++)
            {
                Model.left += 3;
                Model._numPosition += 1;
                <button type="submit" onclick="Clicked('@Model._aPosition[i]', @Model._numPosition)" class="seat" id="@($"{Model._aPosition[i]}{Model._numPosition}")" style="top: @Model.top%; left: @Model.left%;"></button>
            }
        }
    }
    <div class="TermsBox">
        <br />
        <form method="post" asp-page="/TicketPgae">
            <input id="inputSeat" name="seat" type="hidden" />
            <a style="top: 70%; position: fixed; left: 74%;" href="/terms & conditions.pdf" download="">vilkår og betingelser</a>
            <p style="position: fixed; top: 74%; left: 70%">
            Du er enig i vilkår og betingelser
            </p>
            <input style="top: 75%; position: fixed; text-align: center;" type="checkbox" required />
            <p>Indtast venligst dit navn: <input id="userName" name="name" type="text" required /></p>
            <p>Indtast venligst din email: <input id="userEmail" name="email" type="email" required /></p>
            <br />
            <p>Hvilke slags billetter kunne du tænke dig: <select name="Choice" id="DropDown">
                <option value="one">Luksus billet: @</option>
                <option value="two">Normal billet: @</option>
            </select></p>
            <button style="top:80%; left: 77.3%; position: fixed; align-content: center;" onclick="Bought(document.getElementById('userName').value, document.getElementById('userEmail').value)" class="button" type="submit">Køb</button>
        </form>
    </div>
</div>