@page
@model Runes_Bio.Pages.TicketPageModel
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/TicketPage.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/Ticket.js"></script>
</head>
<div class="screen">
    <img src="/Pictures/screen.png" />
</div>
<div>
    @{
        for (int i = 0; i < 6; i++)
        {
            Model.top += 6;
            Model.left = 14;
            Model._numPosition = 0;
            for (int x = 0; x < 10; x++)
            {
                Model.left += 3;
                Model._numPosition += 1;
                <button type="submit" onclick="Clicked('@Model._aPosition[i]', @Model._numPosition)" class="seat" id="@($"{Model._aPosition[i]}{Model._numPosition}")" style="top: @Model.top%; left: @Model.left%;"></button>
            }
        }
    }
    <div class="TermsBox">
        <a style="top: 70%; align-content: center;" href="/terms & conditions.pdf" download="">vilkår og betingelser</a>
        <br />
        <input style="top: 75%; position: fixed; align-content: center;" type="checkbox" required />
        <p>
            Du er enig i vilkår og betingelser
        </p>
        <form method="post">
            <button style="top:80%; left: 77.3%; position: fixed; align-content: center;" onclick="Bought()" class="button" type="submit">Køb</button>
        </form>
    </div>
</div>